---
export const prerender = true;
import Layout from '../../../layouts/Layout.astro';
import Wine from '../../../components/Wine.astro';
import type { WineProps } from '../../../scripts/interfaces.ts';

const response = await fetch('https://api.sampleapis.com/wines/reds');
const data = await response.json();
const wines: any = data;
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Red Wines</h1>
		{wines.map((wine: WineProps) => (
			<Wine 
				wine={wine.wine} 
				winery={wine.winery} 
				location={wine.location} 
				image={wine.image} 
				rating={wine.rating} />
		  ))}
	</main>
</Layout>
