---
import Layout from '../layouts/Layout.astro';
import WineList from '../components/WineList.astro';
import type { WineProps } from '../scripts/interfaces.ts';

const { type } = Astro.params;
const response = await fetch('https://api.sampleapis.com/wines/' + type);
const data = await response.json();
const wines: any = data;
const wineTitle = type.charAt(0).toUpperCase() + type.slice(1);
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>{wineTitle}</h1>
		<div class="winelist">
			{wines.map((wine: WineProps) => (
				<WineList 
					wine={wine.wine}
					image={wine.image} 
					type={type}
					id={wine.id} />
			))}
		  </div>
	</main>
</Layout>
